.text-L0650{
    color: lawngreen !important;
}

.text-L3960{
    color: red !important;
}

.text-L3809{
    color: blue !important;
}
.text-L1851{
    color: brown !important;
}
.text-L2397{
    color: black !important;
}
.text-L1833{
    color: orange !important;
}
.text-L1906{
    color: darkmagenta !important;
}
.text-L3916{
    color: yellow !important;
}
.text-L1971{
    color: darkslategrey !important;
}